body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
    /* background-color: rgb(123, 105, 105); */
}
p{
    font-family: "IBM Plex Mono";
    font-size: 3em;
    font-weight: bolder;
    /* text-shadow: 2px 2px 4px red; */
}
.container{
    overflow: hidden;
    width: 330px;
    border-radius: 25px;
}
.display{
    padding:0  15px;
    height:80px;
    background-color: rgb(56, 53, 53);
    border-radius: 25px 25px 0 0;
    color:rgb(252, 241, 221);
    text-align: left;
    font-size: 28px;
    width: 300px;
    border: none;
}


.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: rgb(71, 58, 58);
    gap: 10px;
    padding: 25px;
    border-radius:0 0  25px 25px ;
    /* margin: auto; */
}
.btn{
    height: 54px;
    width: 54px;
    font-size: 44px;
    background-color: aqua;
    border: none;
    border-radius: 10000px;
    text-align: center;
    padding: 4px;
}
.yellow{
    background-color: rgb(242, 143, 30);
}
.btn:hover{
    background-color: rgb(2, 199, 199);
    cursor: pointer;
}
.yellow:hover{
    background-color: rgb(187, 103, 7);
}
.btn:active{
    background-color: rgb(0, 128, 128);
    cursor:context-menu;
}
.yellow:active{
    background-color: rgb(170, 90, 0);
}